[submodule "BSV-RVFI-DII"]
	path = utils/BSV-RVFI-DII
	url = https://github.com/CTSRD-CHERI/BSV-RVFI-DII.git
[submodule "RVBS"]
	path = riscv-implementations/RVBS
	url = https://github.com/CTSRD-CHERI/RVBS.git
[submodule "sail-riscv-test-generation"]
	path = vengines/sail-riscv-test-generation
	url = https://github.com/rems-project/sail-riscv-test-generation.git
[submodule "sail-riscv"]
	path = riscv-implementations/sail-riscv
	url = https://github.com/rems-project/sail-riscv.git
	branch = hpm_events
[submodule "sail-cheri-riscv"]
	path = riscv-implementations/sail-cheri-riscv
	url = https://github.com/CTSRD-CHERI/sail-cheri-riscv.git
[submodule "ibex"]
	path = riscv-implementations/ibex
	url = https://github.com/CTSRD-CHERI/ibex-old.git
	branch = ibex_cheri
[submodule "vengines/QuickCheckVEngine"]
	path = vengines/QuickCheckVEngine
	url = https://github.com/lowRISC/QuickCheckVEngine.git
[submodule "riscv-implementations/cheriot-sail"]
	path = riscv-implementations/cheriot-sail
	url = https://github.com/lowRISC/cheriot-sail.git
[submodule "riscv-implementations/cheriot-ibex"]
	path = riscv-implementations/cheriot-ibex
	url = https://github.com/lowRISC/cheriot-ibex.git
